.contact :is(.section-subheader, .section-header) {
  text-align: center;
  margin-inline: auto;
}

.contact-bg {
  margin-top: 4rem;
  padding-block: 3rem;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(0, var(--max-width)) minmax(
      1rem,
      1fr
    );
  background-image: url("../img/ex.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-content {
  grid-column: 2/3;
  max-width: 400px;
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.contact-content p {
  margin-bottom: 0.5rem;
}

.contact-content h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--text-dark);
}

.contact-content .btn:hover {
  color: white;
  background-color: var(--primary-color);
}

.contact .form-group {
  margin-bottom: 1.5rem;
}

.contact label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact textarea {
  resize: vertical;
}

.contact .btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-style: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
