@media (min-width: 768px) {
  nav {
    padding: 2rem 1rem;
    position: static;
  }

  .nav-bar {
    width: 100%;
    justify-content: space-between;
    padding: 0;
    background-color: transparent;
  }

  .nav-menu-btn {
    display: none;
  }

  .nav-links {
    padding: 0;
    width: unset;
    position: static;
    transform: none;
    flex-direction: row;
    background-color: transparent;
  }

  .nav-btn {
    display: block;
  }

  .nav-links a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: var(--primary-color);
    transition: 0.3s;
    transform-origin: left;
  }

  .nav-links a:hover::after {
    width: 100%;
  }

  .about-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .room-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .service-content {
    grid-column: 2/3;
  }

  .footer-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .room-grid {
    gap: 2rem;
  }
}
